staging/rtl8723bs/*.mod
staging/rtl8712/*.mod
net/wireless/rockchip_wlan/rtl8723ds/*.mod
net/wireless/rockchip_wlan/rtl8821cs/*.mod
net/wireless/mediatek/mt76/*.mod
net/wireless/mediatek/mt76/mt76x0/*.mod
net/wireless/mediatek/mt7601u/*.mod
net/wireless/ralink/rt2x00/*.mod
net/wireless/marvell/mwifiex/*.mod
net/wireless/realtek/rtlwifi/rtl8192ce/*.mod
net/wireless/realtek/rtlwifi/*.mod
net/wireless/realtek/rtlwifi/btcoexist/*.mod
net/wireless/realtek/rtlwifi/rtl8192cu/*.mod
net/wireless/realtek/rtlwifi/rtl8821ae/*.mod
net/wireless/realtek/rtlwifi/rtl8192ee/*.mod
net/wireless/realtek/rtlwifi/rtl8192c/*.mod
net/wireless/realtek/rtl818x/rtl8187/*.mod
scsi/scsi_devinfo_tbl.c
tty/vt/conmakehash
tty/vt/consolemap_deftbl.c
tty/vt/defkeymap.c
video/logo/logo_hdmi_clut224.c
video/logo/logo_linux_clut224.c
video/logo/logo_linux_mono.c
video/logo/logo_linux_vga16.c
video/logo/pnmtologo
